<h1>Edit Event</h1>

<% if @event.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul><% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for (@event) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div>
        <%= f.label :desciption %>
        <%= f.text_area :description %>
    </div>

    <div>
        <%= f.label :start_date %>
        <%= f.datetime_select :start_date %>
    </div>

    <div>
        <%= f.label :end_date %>
        <%= f.datetime_select :end_date %>
    </div>

    <div>
        <%= f.label :venue %>
        <%= f.text_field :venue %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <%= f.submit %>	

<% end %>